<h1>All Songs</h1>

<section id= "hero">
<h2>
<% @songs.each do |song| %>
  <ul>
    <li>Title: <%= song.title %></li>
    <li>Play Count: <%= song.play_count %></li>
    <img src="public/juke.png">
  </ul>
<% end %>
</h2>

<h2>
<% @songs.each do |song| %>
  <ul>
    <li>Title: <%= song.title %></li>
    <li>Play Count: <%= song.play_count %></li>
    <img src="public/juke.png">
  </ul>
<% end %>
</h2>

<h2>
<% @songs.each do |song| %>
  <ul>
    <li>Title: <%= song.title %></li>
    <li>Play Count: <%= song.play_count %></li>
    <img src="public/juke.png">
  </ul>
<% end %>
</h2>
</section>
